/* .landingPage {
    background: url(/zwallet/assets/images/img/Mask-Group.png);
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;
}

.loginDesktop {
    border-radius: 7px;
    border: solid 2px white;
    width: 80px;
}

.sign-upDesktop, .tryDesktop {
    border-radius: 7px;
    border: none;
    width: 80px;
}

.textDesktop {margin-top: 100px;  margin-top: 150px;}

.textDesktop h2 {font-size: 40px;}

.sub-textDesktop {line-height: 10px;}

.tryDesktop {width: 100px; height: 40px;}

.imgDesktop img {
    margin-top: 75px; 
    height: 480px;
    width: 360px;
}

.brand {
    width: 100%; 
    height: 80px;
    background: rgba(71, 58, 209, 0.06);
    position: relative;
    z-index: 3;
}

.item {margin-right: 60px;}

.about h5 {
    font-size: 30px; 
    margin: 50px 0px 20px 0px;
}

.desc {font-size: 12px; line-height: 3px;}

.icons {
    border-radius: 50%; 
    height: 30px; 
    width: 30px; 
    margin-left: 60px;
}

.about {position: relative; z-index: 2;}

.note {font-size: 9px; line-height: 0px;}

.features { background: rgba(71, 58, 209, 0.06);}

.features img {
    position: relative; 
    z-index: 1; 
    margin-left: 100px;
    height: 280px;
    width: 200px;
}

.img-features1 {top: -105px;}

.img-features2 {margin-top: -20px;}

.desc-features { 
    line-height: 3px; 
    height: 40px; 
    margin-right: -30px;
    margin-top: 20px;
}

.desc-features h5 {font-size: 30px;}

.sub-desc-features1 {font-size: 15px;}

.sub-desc-features2 {font-size: 12px;}

.desc-person {font-size: 11px; line-height: 1px;}

.person {font-size: 10px;}

.note-person {
    font-size: 12px; 
    line-height: 1px; 
    margin-top: 30px;
}

.img-left {margin-left: -20px; margin-top: 100px;}

.img-right {margin-right: -20px; margin-top: 100px;}

.left { margin-left: 30px;}

.note-footer {font-size: 12px; line-height: 1px;}

hr {margin: 0px 30px;}

.left-footer, .right-footer {font-size: 12px;}

.left-footer {margin-left: 30px;}

.right-footer {margin-right: 30px;}

@media screen and (max-width: 1024px) {
    .imgDesktop img {
        margin-top: 150px; 
        height: 320px;
        width: 200px;
        margin-right: -22px;
    }
    .textDesktop {margin-left: -30px;}

    .textDesktop h2 {font-size: 15px;}

    .sub-textDesktop {font-size: 11px;}

    .tryDesktop {
        width: 60px;
        height: 30px;
        font-size: 10px;
    }

    .brand img {height: 60px; width: 60px;}

    .item {margin-right: 10px;}

    .item.sub-item {height: 40px; width: 40px;}

    .features {height: 82vh;}

    .features img {margin-left: -60px;}

    .img-features1 {top: -110px;}
    
    .img-features2 {margin-top: -70px;}
    
    .desc-features { 
        line-height: 1px; 
        height: 10px; 
        margin-right: -20px;
        margin-top: 10px;
    }
    
    .desc-features h5 {font-size: 20px;}
    
    .sub-desc-features1 {font-size: 10px;}
    
    .sub-desc-features2 {font-size: 7px;}

    .note-person {font-size: 5px;}

    .note-footer {font-size: 9px;}

    .left-footer, .right-footer {font-size: 9px;}
} */
