.landing {
    background: url(/assets/images/img/Mask-Group.png);
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;
}

.login {
    border-radius: 7px;
    border: solid 2px white;
    width: 80px;
}

.sign-up, .try {
    border-radius: 7px;
    border: none;
    width: 80px;
}

.try {width: 100px;}

.text {margin-top: 238px; margin-left: -40px;}

.text h5 {font-size: 15px; margin-left: -40px;}

.img {margin-top: 188px; margin-right: -60px;}

.brand {
    width: 100%; 
    height: 80px;
    background: rgba(71, 58, 209, 0.06);
}

.desc {font-size: 9px; line-height: 3px;}

.icons {
    border-radius: 50%; 
    height: 30px; 
    width: 30px; 
    margin-left: 60px;
}

.about {position: relative; z-index: 2;}

.note {font-size: 9px; line-height: 0px;}

.features {height: 70vh; background: rgba(71, 58, 209, 0.06);}

.features img {
    position: relative; 
    z-index: 1; 
    margin-left: -70px;
}

.img-features1 {top: -65px;}

.img-features2 {margin-top: 80px;}

.desc-features {margin-left: -170px; line-height: 0px; height: 40px;}

.sub-desc-features1 {font-size: 7px;}

.sub-desc-features2 {font-size: 5px;}

.person {font-size: 10px;}

.note-person {font-size: 5px; line-height: 1px;}

.img-left {margin-left: -20px; margin-top: 100px;}

.img-right {margin-right: -20px; margin-top: 100px;}

.note-footer {font-size: 7px; line-height: 1px;}

.left-footer, .right-footer {font-size: 7px;}