.bg-side-auth {
  background: url(/assets/images/bg-auth.webp);
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
}

.phone-auth-image {
  height: 28.125rem;
  position: relative;
  left: -20px;
}

.radius-top {
  border-top-left-radius: 75px;
  border-top-right-radius: 75px;
}

@media (min-width: 1440px) {
  .phone-auth-image {
    height: 40rem;
  }
}
