@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");

body {
  font-family: "Nunito Sans", sans-serif !important;
}

a:hover {
  text-decoration: unset;
}
.bg-white-outline {
  border: 2px solid var(--color-white) !important;
  background: rgba(255, 255, 255, 0.2) !important;
}
.bg-grey {
  background-color: rgba(99, 121, 244, 0.15) !important;
}

.object-cover {
  object-fit: cover;
}

/* @media (max-width: 768px) {
  .landing {
    position: relative;
    top: -30px;
  }
} */

.bg-landing {
  position: absolute;
  width: 42%;
  height: 400px;
  z-index: -1;
  background: url(/assets/images/home-bg.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  right: 0;
  top: 0;
}

.phone-landing {
  height: 550px;
}

.phone-landing2 {
  width: 80%;
}

@media (min-width: 0) and (max-width: 992px) {
  .phone-landing2 {
    width: 60%;
  }
}

@media (min-width: 1440px) {
  .bg-landing {
    width: 45%;
    height: 500px;
  }

  .phone-landing {
    height: 800px;
  }
}
